@model DanceTournamentRun.Models.CreateGroupModel
@{
    ICollection<GroupViewModal> groups = ViewBag.groups;
}
@using Newtonsoft.Json


    <table class="table table-striped table-borderless ">
        <thead>
            <tr>
                <th scope="col">Порядок</th>
                <th scope="col">Название</th>
                <th scope="col">Танцы</th>
                <th scope="col">
                    <button type="button" class="btn btn-info  h-25 " data-toggle="modal" data-target="#dialogAddGroup">
                        Добавить группу
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in groups)
            {
                <tr>
                    <td>@item.Number</td>
                    <td>@item.Name</td>
                    <td>
                        @{ var dances = "";}
                        @if (item.Dances.Count != 0)
                        {
                            for (int i = 0; i < item.Dances.Count - 1; i++)
                            {
                                dances += item.Dances.ElementAt(i).Name + ", ";
                            }
                            dances += item.Dances.Last().Name;
                        }
                        @dances
                    </td>
                    <td>
                        <span class="gr-btn gr-btn-edit" data-toggle="modal" data-target="#dialogEditGroup" 
                              data-id="@item.GroupId" data-name="@item.Name" data-number="@item.Number" data-dances=@JsonConvert.SerializeObject(@item.Dances)>
                            @*data-group=@JsonConvert.SerializeObject(@item)*@
                            <span class="oi oi-pencil" title="Изменить" aria-hidden="true"></span>
                        </span>
                        <span id="delGrBtn" class="gr-btn gr-btn-del" data-toggle="modal" data-target="#dialogDeleteGroup"
                              data-id="@item.GroupId" data-name="@item.Name">
                            <span class="oi oi-trash" title="Удалить" aria-hidden="true"></span>
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>



<h3 id="message"></h3>

