@model Group
@{ 
    var nextGr = ViewBag.nextGrId;
}
<div class="mt-3 ml-0">
    <h2>Шаг 2 - @Model.Name</h2>
    <h4>Процесс судейства</h4>

    <div id="refProgress" class="mt-3 mb-3">
        @await Component.InvokeAsync("RefereeProcess",
            new
            {
                groupId = Model.Id
            }
       )
    </div>

    <div class=" m-0 d-flex justify-content-between">
        <div>
            <a id="calcResBtn" onclick="calcResults(@Model.Id)" class="btn btn-info rounded-pill rn-btn mr-2 disabled text-white">
                Посчитать результаты
            </a>
        </div>
        @if (ViewBag.nextGr == null)
        {
            <a id="nextStepBtn" class="btn btn-info rounded-pill rn-btn disabled" asp-action="GoToEndStep" asp-controller="RunTournament" asp-route-tournId=@Model.TournamentId>
                <span class="oi oi-chevron-right" aria-hidden="true"></span> Шаг 3
            </a>
        }
        else
        {
            <a id="nextStepBtn" class="btn btn-info rounded-pill rn-btn disabled" asp-action="GoToNextGroup" asp-controller="RunTournament" asp-route-groupId="@Model.Id" asp-route-nextGrId="@nextGr">
                <span class="oi oi-chevron-right" aria-hidden="true"></span> @ViewBag.nextGr
            </a>
        }
    </div>
    <div id="groupResults" class="mt-3 mb-3">
        <h5 id="loadingResults" class="text-muted ml-3"></h5>
    </div>

</div>

<script>

    const timer =  setInterval(function () {
        $('#refProgress').load('/RunTournament/UpdateRefProgress/@Model.Id', function () {
            if ($('.progress-bar').attr('aria-valuenow') === $('.progress-bar').attr('aria-valuemax')) {
                $("#calcResBtn").removeClass("disabled");
                clearInterval(timer);
            } 
        });
    }, 6000)
</script>
